<!DOCTYPE html>
<html>
<head>
<title>DownloadIt 🚀</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- HEADER -->
<div class="header">

<div class="logo">
🚀 <span class="download">Download</span><span class="it">It</span>
</div>

<div class="tagline">Fast • Free • Smart</div>

</div>

<!-- MAIN -->
<div class="main">

<h1 class="fade-in">Download Any Video ⚡</h1>

<div class="box fade-in">

<form action="/download" method="post">

<input id="url" name="url" placeholder="Paste video link">

<button type="button" onclick="checkLink()">Check Link</button>

<p id="result"></p>

<button type="button" onclick="validateForm()">Download Video</button>

</form>

</div>

</div>

<!-- FOOTER -->
<div class="footer">
Made by Sagar ⚡ | DownloadIt © 2026
</div>

<script src="/static/script.js"></script>

</body>
</html>